.palette{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-inline: auto;
    justify-content: space-between;
    align-items: flex-start;
}

.palette-colors{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4,1fr);
}